body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}

/* 
    Start of error styling
*/

.error {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    position: absolute;
    top: 0px;
    right: 20px;
    width: 250px;
    height: 3rem;

    overflow: hidden;
    border-width: 0px 1px 1px 1px;
    border-style: none solid solid solid;
    border-bottom-right-radius: .75rem;
    border-bottom-left-radius: .75rem;
}

.error.hide {
    top: calc(-1px + -3rem);
}

.error .message {
    margin: auto 0px auto 5px;
}

.error .close {
    margin: 5px 5px 0px 10px;
    cursor: pointer;
    user-select: none;
    width: 16px;
}

/* 
    End of error styling
*/
