body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 
    Start of basket input styling
*/

.basket {
    padding-left: 3rem;
    width: 50%;
}

.basket .input {
    display: flex;
    align-items: center;
}

.basket .input input {
    border-style: solid;
    border-color: gray;
    border-width: 2px 1px 2px 2px;
    border-radius: 1rem 0px 0px 1rem;
    padding-left: 5px;

    font-size: medium;
    outline:none
}

.basket .input input:focus {
    border-color: black; 
}

.basket .input button {
    border-style: solid;
    border-color: gray;
    border-width: 2px 2px 2px 1px;
    border-radius: 0px 1rem 1rem 0px;
    padding-right: 5px;
    width: 60px;

    font-size: medium;
}

.basket .input button:hover {
    border-color: black;
}

/* 
    End of basket input styling
*/

/*
    Start of basket table header styling
*/

.basket .pricing .table .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-top: 20px;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
}

.basket .pricing .table .header p {
    margin: 0;
    margin-bottom: 2px;
    padding-left: 10px;

    font-weight: bold;
}

/*
    End of basket table header styling
*/

/*
    Start of basket table item styling
*/

.basket .pricing .table .item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: solid black 1px;
}

.basket .pricing .table .item:last-child{
    border-bottom-width: 2px;
}

.basket .pricing .table .item p {
    margin: 0;
    padding: 5px 0px 5px 10px;
}

.basket .pricing .table .item p+p {
    border-left: solid black 2px;
}

/* 
    End of basket table item styling
*/
/* 
    Start of error styling
*/

.error {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    position: absolute;
    top: 0px;
    right: 20px;
    width: 250px;
    height: 3rem;

    overflow: hidden;
    border-width: 0px 1px 1px 1px;
    border-style: none solid solid solid;
    border-bottom-right-radius: .75rem;
    border-bottom-left-radius: .75rem;

    transition: 1s;
}

.error.hide {
    top: calc(-1px + -3rem);
}

.error .message {
    margin: auto 0px auto 5px;
}

.error .close {
    margin: 5px 5px 0px 10px;
    cursor: pointer;
    user-select: none;
    width: 16px;
}

/* 
    End of error styling
*/